
.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}

.topbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

#brand-title {
  vertical-align: middle;
}

.logo-inverse {
  width: 36px;
  height: 36px;
}

#applications-typing span {
  vertical-align: baseline;
}

.chart {
  max-width: 300px;
}

#users-chart {
  max-width: 500px;
}

@media (min-width: 768px) {
  #now-chart, #content-chart {
    margin-left: 120px;
  }
}

.team-avatar {
  width: 128px;
  height: 128px;
}

#safe-alerts {
  opacity: 0.8;
  margin: 0;
  background-color: #c9302c;
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#safe-alerts p {
  margin: 0;
}

#safe-alerts button {
  padding-bottom: 0;
}

#publish-nav {
  background-color: #333;
}

#publish-title {
  font-size: 1.5rem;
}

#publish-section {
  max-width: 920px;
  margin: 1.5rem auto;
}

#publish-link {
  color: #0facf3;
}

#ico-link {
  color: #0facf3;
}

#publish-alert {
  color: #c9302c;
  padding-bottom: 1em;
}

#publish-rules-title {
  padding: .5em 0 1em;
}

#pulish-broadcast {
  padding: .5em 0 1em;
}

.no-trailing-blank {
  margin-bottom: 0;
}

#publish-footer {
  background: #333;
}
